
input{
    
    border-radius: 9px;
    border: 1px solid white; 
  background-color: transparent;
  outline: none;
  font-size: 17px;
  color:white ;
  padding: 12px 16px;
  &:focus {
    border:;
  }
  box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
  transition: all 0.2s;
  &:hover{
    transform: scale(0.99);
  }
}
textarea{
    border-radius: 9px;
    border: 1px solid white; 
  background-color: transparent;
  outline: none;
  font-size: 17px;
  color:white ;
  padding: 12px 16px;
  box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
  transition: all 0.2s;
  &:hover{
    transform: scale(0.99);
  }

}
form{
    width: 95%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding: 32px;
  border-radius: 16px;
  box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
  margin-top: 28px;
  gap: 12px;
  
}
input[type="submit"]{
    width: 100%;
  text-decoration: none;
  text-align: center;
  background: hsla(271, 100%, 50%, 1);
  background: linear-gradient(
    225deg,
    hsla(271, 100%, 50%, 1) 0%,
    hsla(294, 100%, 50%, 1) 100%
  );
  background: -moz-linear-gradient(
    225deg,
    hsla(271, 100%, 50%, 1) 0%,
    hsla(294, 100%, 50%, 1) 100%
  );
  background: -webkit-linear-gradient(
    225deg,
    hsla(271, 100%, 50%, 1) 0%,
    hsla(294, 100%, 50%, 1) 100%
  );
  padding: 13px 16px;
  margin-top: 2px;
  border-radius: 12px;
  border: none;
  
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
  &:hover{
    transform: scale(0.97);
  }
}
h4{
    font-size: 24px;
  margin-bottom: 6px;
  font-weight: 600;
  color: white;
}
